@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-image: linear-gradient(90deg, #44BCFF -0.55%, #44B0FF 22.86%, #FF44EC 48.36%, #FF44EC 73.33%, #FF675E 99.34%);
  filter: blur(25px);
  z-index: -1;
}